<div class="d-flex h-100 w-100 justify-content-center align-items-center">
  <%= form_with model: current_contractor,
                url: contractors_update_password_path,
                scope: :contractor,
                id: 'contractor-form' do |form| %>

    <div class="form-group">
      <%= form.label :password %>
      <small id="passwordHelp" class="form-text text-muted">
        Enter the mobile money number we should take the money from above.
        It should be exactly 10 digits long, in the format 054xxxxxxx.
      </small>
      <%= form.password_field :password,
                              id: :contractor_password,
                               class: 'form-control form-control-sm',
                               required: true %>
    </div>

    <%= form.submit 'Finish', class: 'btn btn-secondary btn-block mt-5' %>

  <% end %>
</div>
