<% @requests.not_submitted.each do |request| %>
<%= link_to edit_request_for_tender_path(request), class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <%= request.project_name %>
      </h5>
    </div>
    <small class="text-muted">
      <%= request.city %>,
      <%= request.country %>
    </small>
<% end %>
<% end %>   
   
   <div class="card">
        <div class="list-group list-group-flush">
          <% @requests.submitted.each do |request| %>
              <%= link_to request, class: 'list-group-item list-group-item-action flex-column align-items-start' do %>
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                      <%= request.project_name %>
                    </h5>
                    <small class="text-muted">
                      <% if !request.submitted? %>
                          <span class="badge badge-pill badge-secondary"><%= request.status %></span>
                      <% elsif request.deadline.past? %>
                          <span class="badge badge-pill badge-success"><%= request.status %></span>
                      <% else %>
                          <span class="badge badge-pill badge-warning"><%= request.status %></span>
                      <% end %>
                    </small>
                  </div>
                  <small class="text-muted">
                    <%= request.city %>,
                    <%= request.country %>
                  </small>
              <% end %>
          <% end %>
        </div>
      </div>