<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p>Thank you for taking part in <strong><%= @request_for_tender.project_name %>'s</strong> bidding process.</p>
  <br>
  <% @message.split('.').each do |line| %>
    <p><%= line %></p>
  <% end %>
</body>
</html>