<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p>Thank you for taking part in <%= @request_for_tender.project_name %>'s bidding process.</p>
  <p><%= @message %></p>
</body>
</html>