<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card-header">
        <h3><%= @other_document_upload.name %></h3>
        <button class="btn btn-default" id="prev">Previous</button>
        <button class="btn btn-secondary" id="next">Next</button>
        &nbsp; &nbsp;
        <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
      </div>
      <div class="card-body text-center">
        <i class="loader fa fa-spinner center-block" style="font-size: 10em;"></i>
        <canvas id="the-canvas"
                data-pdf-viewer
                data-src="<%= @other_document_upload.document.url %>"></canvas>
      </div>
    </div>
  </div>
</div>
