<%= form_with model: @tender,
              scope: :tender,
              url: rate_bid_path(@tender),
              method: :patch,
              local: true,
              id: 'tender-rating-form' do |form| %>
  <div class="input-group input-group-sm">
    <%= form.text_field :rating,
                        class: 'form-control',
                        id: :tender_rating,
                        placeholder: 'Rating' %>
    <div class="input-group-append">
      <%= button_tag 'Save',
                     type: 'submit',
                     class: 'btn btn-secondary' %>
    </div>
  </div>
<% end %>
