<%= form_with model: @tender,
              scope: :tender,
              url: tender_ratings_url(@tender),
              method: :patch,
              local: true,
              id: '@tender-rating-form' do |form| %>
  <div class="row">
    <%= form.text_field :rating, class: 'form-control col-md-4', id: :tender_rating, placeholder: 'Rate Bid' %>
    <%= form.submit 'Rate', class: 'btn btn-secondary col-md-3' %>
  </div>
<% end %>