<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="tab-content mt-4">

        <div class="hello">
          <workbook :workbook="<%= @tender.workbook.to_json %>" />
        </div>

      </div>
    </div>
  </div>
</div>