<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="card-header">
        <h3><%= @required_document_upload.required_document.title %></h3>
      </div>
      <div class="card-body text-center">
        <%= image_tag @required_document_upload.document.url %>
      </div>
    </div>
  </div>
</div>
