<% content_for :nav_tabs do %>
  <a class="nav-item nav-link active" href="#">
    1. Project Information
  </a>
  <a class="nav-item nav-link disabled"
     data-toggle="tooltip"
     data-placement="bottom"
     data-html="true"
     data-title="Not available until you have purchased this tender">
    2. Tender Documents
  </a>
  <a class="nav-item nav-link disabled"
     data-toggle="tooltip"
     data-placement="bottom"
     data-html="true"
     data-title="Not available until you have purchased this tender">
    3. Bill of Quantities
  </a>
  <a class="nav-item nav-link disabled"
     data-toggle="tooltip"
     data-placement="bottom"
     data-html="true"
     data-title="Not available until you have purchased this tender">
    4. Upload Documents
  </a>
<% end %>

<% content_for :modals do %>
  <div class="modal <% 'fade' unless Rails.env.test? %>"
       id="paymentModal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="paymentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Purchase Tender Documents
          </h5>
          <button id="purchaseFormClose"
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 mx-auto pt-3 pb-5">
              <%= render 'purchase_tender/purchase_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto pt-4
                d-flex flex-wrap justify-content-center
                justify-content-md-between align-items-center">
      <a class="btn btn-sm btn-link" href="<%= contractor_root_path %>">
        Click here if you've already purchased this tender
      </a>
      <button class="btn btn-sm btn-secondary"
              id="purchase-button"
              data-toggle="modal"
              data-target="#paymentModal"
              data-backdrop="static"
              data-keyboard="false">
        Purchase this tender for
        GH₵ <%= @request_for_tender.selling_price %>
      </button>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="tab-content mt-4">

        <%= render 'request_for_tenders/public_information',
                   request_for_tender: @request_for_tender %>

      </div>
    </div>
  </div>
</div>

