<div class="nested-fields mb-1">
  <% if f.object.document? %>
      <%= link_to f.object.document.file.filename, f.object.document.url, target: '_blank' %>
  <% else %>
      <%= f.file_field :document, data: { 'save-on-change': true } %>
  <% end %>


  <%= link_to_remove_association f, class: 'btn btn-sm btn-light', data: { 'save-on-click': true } do %>
      Delete
  <% end %>
</div>