<script src="//rawgit.com/SheetJS/js-xlsx/master/dist/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.34.5/handsontable.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.34.5/handsontable.min.css"/>

<% if @participant.status.in? %w(participating bid_made) %>
    <div id="boq-excel">
    </div>

    <div class="content-boq">
        <%= @participant.boq.workbook_data %>
    </div>

    <div class="buttons row">
    </div>

<script>
var container = $('#boq-excel');
var excelData = JSON.parse($('.content-boq').text());
displaySheet(excelData, 0);
</script>

<% end %>

