<div class="card mb-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#all" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab">All</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="all">


      <div class="list-group list-group-flush">

        <% @participant.request_for_tender.chatroom.broadcast_messages.each do |broadcast| %>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%= broadcast.content %></h5>
                <small class="text-muted"><%= broadcast.created_at.to_formatted_s(:long) %></small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small class="text-muted">Donec id elit non mi porta.</small>
            </a>
        <% end %>

      </div>

    </div>
  </div>
</div>