<div class="container">
  <div class="row">
    <div class="col-lg-9 mx-auto">
      <div class="tab-content mt-4">



        <%= form_with model: @participant,
                      scope: :participant,
                      url: update_tender_participants_path(@participant),
                      method: :patch,
                      local: true,
                      id: 'participants-form' do |form| %>

          <p class="text-muted small">
            Upload required documents that the client has requested
          </p>

          <div class="form-group mt-3">
            <ul class="list-group list-group-flush nested-forms">
              <%= form.fields_for :required_document_uploads do |required_document_upload| %>
                <%= render 'required_document_upload_fields', f: required_document_upload %>
              <% end %>
              <li class="d-flex w-100 justify-content-between">
                <%= link_to_add_association 'ADD NEW DOCUMENT', form, :required_document_uploads, class: 'btn btn-sm btn-block btn-primary my-1' %>
              </li>
            </ul>
          </div>


        <% end %>

      </div>
    </div>
  </div>
</div>