<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="tab-content mt-4">

        <div class="card mb-4">
          <div class="card-header">
            Tender Documents
          </div>
          <ul class="list-group list-group-flush">
            <% @participant.project_documents.each do |project_document| %>
              <li class="list-group-item d-flex w-100 justify-content-between">
                <%= project_document.document.file.filename %>
                <% if @participant.status.eql?('participating') %>
                  <%= link_to 'Download', project_document.document.url, target: '_blank',
                              class: 'btn btn-sm btn-light' %>
                <% end %>
              </li>
            <% end %>
          </ul>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>