<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hi,</h3>
  <h2>Consultant: <%= @request_for_tender.quantity_surveyor.company_name %></h2>
  <h2>Project Name: <%= @request_for_tender.project_name %></h2>
  <p><%= @body %></p>
</body>
</html>