<section class="jumbotron text-center">
  <div class="container pt-5">
    <%= image_tag 'buildpals-logo-small.png', class: 'img-fluid center-block', style: 'width: 200px' %>

    <!--<h1 class="jumbotron-heading">Tendering made easy</h1>-->
    <p class="lead text-muted mt-2">
      Spend less time preparing documentation, calling contractors and evaluating bids.
      <br>
      Let BuildPals do the heavy lifting
    </p>
    <p>
      <%= link_to 'Get Started',  request_for_tenders_path, class: 'btn btn-primary' %>
    </p>
  </div>
</section>