$('#flash').replaceWith(
  '<div id="alert"' +
  '     class="alert alert-danger alert-dismissible fade show flash"' +
  '     role="alert">' +
  '     <button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
  '       <span aria-hidden="true">&times;</span>' +
  '     </button>' +
  '     Sorry, we couldn\'t find a request for tender with the specified reference number.' +
  '</div>'
)
