<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      Attach documents
    </h5>
    <small class="text-muted">Saved</small>
  </div>
  <div class="row">
    <div class="form-group col-sm-5 text-center">
      <a href="#" id="upload_widget_opener" class="btn btn-sm btn-primary">Upload documents</a>
    </div>
    <div class="col-sm-7">
      <h5>Added Documents</h5>
      <div class="row">
        <div class="col-sm-9">
          <div class="label label-warning">
            Project of Construction of Communication Tower.pdf
          </div>
        </div>
        <div class="col-sm-3">
          <div class="label label-warning">Replace</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="label label-warning">
            Specification of Materials.pdf
          </div>
        </div>
        <div class="col-sm-3">
          <div class="label label-warning">Replace</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="label label-warning">
            Network Plans.pdf
          </div>
        </div>
        <div class="col-sm-3">
          <div class="label label-warning">Replace</div>
        </div>
      </div>

    </div>
  </div>
</li>