<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      Documents
    </h5>
    <small class="text-muted">Saved</small>
  </div>
  <div class="form-group col text-center">
    <a href="#" id="upload_widget_opener" class="btn btn-sm btn-block btn-primary my-1">
      Add new document
    </a>
  </div>
</li>

<li class="list-group-item list-group-flush d-flex w-100 justify-content-between">
  Project of Construction of Communication Tower.pdf
  <button class="btn btn-sm btn-light">Replace</button>
</li>
<li class="list-group-item list-group-flush d-flex w-100 justify-content-between">
  Specification of Materials.pdf
  <button class="btn btn-sm btn-light">Replace</button>
</li>
<li class="list-group-item list-group-flush d-flex w-100 justify-content-between">
  Network Plans.pdf
  <button class="btn btn-sm btn-light">Replace</button>
</li>
