<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
      Add Questionnaire
      <small class="text-muted">(Optional)</small>
    </h5>
    <small class="text-muted">Saved</small>
  </div>
  <div class="row">
    <div class="col-sm-5 text-center">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
              data-target="#questionnaire">
        Create Questionnaire
      </button>
    </div>
    <div class="col-sm-7">
      <p class="text-muted">
        Create a set of questions that all contractors are required to answer.
        Their answers will be automatically comparable.
      </p>
    </div>
  </div>
</li>