<div class="container" id="app">

  <div class="row">
    <div class="col-md">
      <nav class="nav">
        <%= link_to 'Show', @request, class:'nav-link' %> |
        <%= link_to 'Back', requests_path, class:'nav-link' %>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 ml-md-auto mr-md-auto">

      <p id="notice"><%= notice %></p>

      <pre class="mb-4">{{ data }}</pre>

      <%= render 'form', request: @request, title: 'Editing Request' %>

    </div>
  </div>

</div>