<p>Hello Alfred,</p>
<p><%= @request_for_tender.publisher.company_name %> has requested to cash out</p>
<p>Project Name: <%= @request_for_tender.project_name %></p>
<p>Total Receivable: <% @request_for_tender.total_receivable %></p>
<p>Cheers!</p>