<p>Hello, Alfred</p>

<p>
  <%= @request_for_tender.publisher.company_name %>
  published a new request for tender at <%= @request_for_tender.published_at %>
</p>
<%= link_to "Review request for tender here", review_request_for_tender_url(@request_for_tender.id) %>