<p>Hello, Alfred</p>

<p>
  <%= @request_for_tender.publisher.company_name %>
  created a new request for tender at <%= @request_for_tender.submitted_at %>
</p>
<%= link_to "Review Request For Tender", review_request_for_tender_url(@request_for_tender.id) %>