<footer id="footer" class="footer navbar-light bg-light">
  <div class="footer-line">
    <a class="d-flex flex-wrap justify-content-center align-items-baseline"
       style="text-decoration: none">
      Powered by
      <img src="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_14/v1520926691/tenderswift-logo.png"
           class="mx-1"
           alt="TenderSwift"> &nbsp;
      &copy; 2017 &middot; All Rights Reserved &middot;
    </a>
  </div>
</footer>