
Hello,

You have been invited to tender for a project on buildpals.com

Project Name: <%= @participant.project_name %>
Deadline: <%= @participant.project_deadline.to_formatted_s(:long) %>
Description:
<%= @participant.project_description %>


Click the link below to view the details of the project and submit your tender
Please do not share this link with anyone as it is your unique private link
that allows you to tender on this project. Anyone who gets it can submit a
tender in your name.

<p><%= participant_url(@participant)  %></p>
