<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hello,</h3>
  <p>You have a new message on Buildpals</a></p>

  <h2>Project Name: <%= @message.participant.project_name %></h2>
  <p>Message: <%= @message.content %></p>

  <p>
    <%= link_to 'View message here', @message.participant %>
  </p>
</body>
</html>