<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <h3>Hello,</h3>

  <p>You have a new message from <%= @message.broadcast_message.chatroom.request_for_tender.quantity_surveyor.company_nam %></a></p>

  <h2>Project Name: <%= @message.participant.project_name %></h2>
  <p>"<%= @message.content %>"</p>

  <p>
    <%= link_to 'View message here', @message.participant %>
  </p>
</body>
</html>