<div class="modal fade" id="finalMessageModal" tabindex="-1" role="dialog" aria-labelledby="finalMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-success">
        <p><strong>Great! </strong>All disqualified contractors have been notified of the outcome of the bid.
          Send an email to <span class="winner-name"></span> to inform them of their successful bid.</p>
        <h5 class="modal-title" id="finalMessageModalLabel"></h5>
      </div>
      <div class="modal-body">
        <div class="final-message email-body" contenteditable="true">
          <span>
            Dear Sir/Madam, 
            <br/>
            <br/>
            <p>On behalf of <span class="replace">(Client Name)</span>, I am pleased to accept your bid for the above project. Please find attached the documents listed below which shall be deemed to form and to be read and to be construed as part of the Contract:</p> 
            <br/>
            <ul>
              <li class="replace">List Attached contract documents</li>
            </ul>
            <br/>
            <p>The contract will commence on Insert Date, and per above the value of the contract, for the full life of the contract shall be exclusive of VAT.   The contract completion date is <span>(Date of Completion)</span>.</p>
            <p>Please confirm receipt of this contract award letter at the following address  by return in order to act as an acknowledgement of receipt of this contract award letter. </p>
            <p>Furthermore no action should be taken by your company at this time in respect of this contract until the official contract start date. <span class="replace">(Consultant Name)</span> accept no responsibility or liability for any actions which you may take based on the information detailed in this letter.  Any such actions and their financial consequences will be entirely at your own risk. </p>
            <p>Please do not hesitate to contact us directly should you have any questions about the content of this letter. </p>
            <br/>
            <p>Yours faithfully 
            <br/>
            <p>For and on behalf of <span class="replace">(Clients Name)</span></p>
          </span>
        </div>
        <%= form_with url: request_send_out_final_invitation_url(@request.id), id: 'send-out-final-invitation' do |form| %>
          <%= form.text_area :final_email_message, { class: 'form-control', id: 'final-email-message', data: { parsley_minlength: '20', parsley_required: 'true' }, require: true, rows: '25' } %>
      </div>
      <div class="modal-footer">
          <%= form.submit "Send Message", { id: 'btn-final-message', class: 'btn btn-success', data: { disable_with: 'Sending Email...'} } %>
        <% end %>
      </div>
    </div>
  </div>
</div>