<% if deadline_over? @request_for_tender %>
  <div class="d-flex w-100 justify-content-end mb-2">
    <%= link_to 'Compare Rates', compare_boq_path(@request_for_tender), target: '_blank',
                class: 'btn btn-sm btn-accent' %>
  </div>

  <tender-figures-table
      :request-for-tender="<%= @request_for_tender
                               .to_json(only: [:id, :tender_figure_address],
                                                methods: [:project_owners_email,
                                                          :project_owners_company_name,
                                                          :workbook]) %>"
    :tenders="<%= @request_for_tender
                  .tenders.to_json(only: [:id, :disqualified, :rating],
                                   methods: [:contractors_company_name,
                                             :contractors_email,
                                             :workbook]) %>">
  </tender-figures-table>
<% else %>
  <div class="d-flex w-100 justify-content-end mb-2">
    <div data-toggle="tooltip" data-placement="bottom"
         data-html="true"
         data-title="<p>In order to comply with the standards of tender fairness,
                 bids will only be shown when the request deadline is reached.<p>
                <p class='text-center request-countdown'><%= time_to_deadline @request_for_tender %> left to request deadline.</p>">

      <button class="btn btn-accent disabled" type="button">
        Compare Rates
      </button>
    </div>
  </div>
<% end %>