<div class="card-header">
  Bill Of Quantities
</div>
<div class="card-body">
  <div class="row">
    <div class="col-sm-5 text-center">
      <a href='/bill_of_quantities' class='btn btn-sm btn-primary my-5'>
        Create Bill Of Quantities
      </a>
    </div>
    <div class="col-sm-7">
      <p class="text-muted">
        Create a bill of quantities online.
        It's faster than you can ever create it in Excel.
        In addition all the submitted tenders from contractors will be automatically compared
        and the best one will be highlighted.
      </p>
    </div>
  </div>
</div>