<div class="card-header">
  Bill Of Quantities
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-12 text-center">

      <div class="mt-md-4 mb-4">
        <%= form.fields_for :excel do |excel_fields| %>
            <% if @request.boq %>
                <%= link_to 'View Bill of Quantities', @request.boq if @request.boq %>
                <div class="my-1">or upload a new one</div>
            <% end %>
            <%= excel_fields.file_field :document, class: 'form-control-file btn btn-sm btn-primary',
                                        data: { 'save-on-change': true }  %>
        <% end %>
      </div>

    </div>
  </div>
</div>