<div class="card-header">
  Bill Of Quantities
</div>
<div class="card-body">
  <div class="row">
    <div class="col-sm-5 text-center">
    <%= form_with(model: @request, id: 'request-form', local: true) do |form| %>
      <%= form.label 'Upload Bill of Quantity'%>
      <%= form.file_field :excel  %>
      <%= form.submit %>
    <% end %>
    </div>
    <div class="col-sm-7">
      <p class="text-muted">
        Create a bill of quantities online.
        It's faster than you can ever create it in Excel.
        In addition all the submitted tenders from contractors will be automatically compared
        and the best one will be highlighted.
      </p>
    </div>
  </div>
</div>