<div id="accordion" role="tablist">
  <div class="card">
    <%= render 'invited_contractors' if @request.private? %>

    <%= render 'purchased_contractors' %>

    <%= render 'submitted_contractors' %>
  </div>
</div>


