<div class="card-body">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="text-success">
      Visited
      <small>
        <span class="badge badge-pill badge-success">
          <%= @request.portal_visits %>
        </span>
      </small>
    </h5>
    <%= link_to 'Invite more contractors', edit_tender_participants_path(@request), class: 'btn btn-sm btn-light' %>
  </div>
</div>


<div id="accordion" role="tablist">
  <div class="card">
    <%= render 'purchased_contractors' %>

    <%= render 'submitted_contractors' %>
  </div>
</div>


