<!-- Confirm Winner Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header header-warning">
        <h5 class="modal-title" id="alertModalLabel">Are you sure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color:#000;">
          <span class="mute-text"><p>By awarding the contract to <span class="winner-name"></span>, you are selecting 
          <span class="winner-name"></span> as the winner of this tendering process. Therefore disqualifying every other contractor that placed a bid. </p>
          <p>The emails you drafted will be sent to the respective contractors.<p>
        <p class="alert alert-info">This cannot be reversed. Are you sure you want to do this?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success" id="confirm-winner" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
var winnerName;

var participantId;

//Get winner's name and award contract when QS clicks award contract button
$('.accept').click( function(e){
  winnerName = getCompanyName($(this)[0].children[0].classList);
  participantId = $(this)[0].children[1].classList[0];
});

function getCompanyName(array){
  var companyName="";
  for(i=0; i < array.length; i++){
    companyName = companyName +" "+ array[i]
  }
  return companyName
}

function displayWinnerName(){
  $('.winner-name').each( function(i,e){
    e.innerHTML = winnerName;
  });
}

//Confirm who is winning the bid 
$('#confirm-winner').click( function(e){
    $.ajax({
      url: "/requests/set_winner/"+<%= @request.id %>+"/"+participantId,
      type: "POST",
      data: {
        request_for_tender: {
          notify_disqualified_contractors_message: $('.message-disqualified-contractors').text().trim(),
          final_email_message: $('.final-message').text().trim()
        }
      },
      success: function(response){
        $('#loadingModal').modal('hide');
        $("#doneModal").modal('show');
       },
      error: function(response){ 
        $('#errorModal').modal('show');
       }
  });
});

$('#doneModal').on('hidden.bs.modal', function (e) {
  location.reload();
});

$('#alertModal').on('hidden.bs.modal', function (e) {
  $('#loadingModal').modal({
    backdrop: 'static',
    keyboard: false
  });
  $('#loadingModal').modal('show');
});

</script>