<div class="modal fade" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="doneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-success">
        <h6 class="modal-title" id="doneModalLabel">GREAT! You have successfully awarded the contract.</h6>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-check" style="font-size:8em;" aria-hidden="true"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary finished" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-info">
        <h6 class="modal-title" id="loadingModalLabel">Please wait.</h6>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-spinner" style="font-size:8em;" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
