<div class="card-body" xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="row">
    <div class="form-group col-sm-6">
      <label for="request_project_name">Project name</label>
      <input id="request_project_name" type="text" name="request_for_tender[project_name]" class="form-control form-control-sm"
             v-model='requestForTender.project_name' v-on:change='saveRequestForTender'>
      <p class="text-muted">
        Example: Purchases of office supplies; Construction of sawmill;
        Railroad engineering works;
      </p>
    </div>
    <div class="form-group col-sm-6">
      <label for="deadline">Deadline</label>
      <br>
      <input id="request_deadline" type="datetime-local" name="request_for_tender[deadline]" class="form-control form-control-sm"
             v-model='requestForTender.deadline' v-on:change='saveRequestForTender'>
      <p class="text-muted">
        Deadline for suppliers to submit their bids.
        Timezone: Accra, Africa (UTC+00:00)
      </p>
    </div>

    <div class="form-group col-sm-6">
      <label for="request_country">Country</label>
      <input id="request_country" type="text" name="request_for_tender[country]" class="form-control form-control-sm"
             v-model='requestForTender.country' v-on:change='saveRequestForTender'>
    </div>

    <div class="form-group col-sm-6">
      <label for="request_city">City</label>
      <input id="request_city" type="text" name="request_for_tender[city]" class="form-control form-control-sm"
             v-model='requestForTender.city' v-on:change='saveRequestForTender'>
    </div>

    <div class="form-group col-sm-12">
      <label for="request_description">Description</label>
      <textarea id="request_description" rows="3" name="request_for_tender[description]" class="form-control form-control-sm"
                v-model='requestForTender.description' v-on:change='saveRequestForTender'>
      </textarea>
    </div>
  </div>
</div>