<div class="message-board mb-4">
  <ul class="nav nav-tabs" id="messageBoardTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#change_logs" aria-controls="change_logs" role="tab" data-toggle="tab">Change Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#access_logs" aria-controls="access_logs" role="tab" data-toggle="tab">Access Logs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a>
    </li>
  </ul>
    <p class="hidden-request-id"><%= @request.id %></p>
    <div class="tab-content pt-3" id="messageBoardContents">
      <div class="tab-pane fade show active" role="tabpanel" id="messages" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-sm btn-light" id="post-new-message">POST NEW MESSAGE</button>
          </div>
        </div>

        <br>

        <% @request.chatroom.broadcast_messages.each do |broadcast| %>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><span class="fa fa-bullhorn"></span></h4>
              <h6 class="card-subtitle mb-2 text-muted">All Participants</h6>
              <p class="card-text"><%= broadcast.content %></p>
              <small class="float-right">
                  <span class="fa fa-time"></span>
                  <%= broadcast.created_at.to_formatted_s(:long) %>
              </small>
            </div>
          </div>
          <br>
        <% end %>

        <div class="new-broadcast-messages">
        </div>


    </div>
    <div class="tab-pane fade" role="tabpanel" id="change_logs" aria-labelledby="home-tab"></div>
    <div class="tab-pane fade" role="tabpanel" id="access_logs" aria-labelledby="home-tab"></div>
    <div class="tab-pane fade" role="tabpanel" id="all" aria-labelledby="home-tab"></div>
  </div>
</div>


<script type="text/x-template" id="message-template">
  <div class="panel panel-primary message" v-bind:class="{ 'panel-danger': message.to === 'all' }">
    <div class="panel-heading" style="padding: 5px;">
      <h4 class="panel-title" v-if="message.to === 'me'">
        <span class="fa fa-arrow-left"></span>
        {{message.from}}
        <small class="float-right">
          <span class="fa fa-time"></span>
          Aug 14, 2017 08:28
        </small>
      </h4>
      <h4 class="panel-title" v-else-if="message.to === 'all'">
        <span class="fa fa-bullhorn"></span>
        All contractors
        <small class="float-right">
          <span class="fa fa-time"></span>
          Aug 14, 2017 08:28
        </small>
      </h4>
      <h4 class="panel-title" v-else>
        <span class="fa fa-arrow-left"></span>
        {{message.to}}
        <small class="float-right">
          <span class="fa fa-time"></span>
          Aug 14, 2017 08:28
        </small>
      </h4>
    </div>
    <div class="panel-body">
      <p>{{message.content}}</p>
      <div class="controls float-right" v-if="message.to == 'me'">
        <button class="btn btn-xs btn-light">Mark as unread</button>
        <button class="btn btn-xs btn-light">
          <span class="fa fa-share-alt"></span>
          reply
        </button>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
</script>


<script>
$('#post-new-message').click(function(e){
  if (!$("#broad-cast-message").length){ //if there is no broadcastmessage textarea
        $("html, body").animate({ scrollTop: $(document).height() }, 1000); //scroll to the bottom of the page
        var messageInput = $(
        '<br/>\n'+
        '<div id="input-broadcast-message-card" class="card">\n' +
        '  <div class="card-body">\n' +
        '   <h4 class="card-title"><span class="fa fa-bullhorn"></span></h4>\n'+
        '   <h6 class="card-subtitle mb-2 text-muted">All Participants</h6>\n'+
        '    <textarea id="broad-cast-message" class="form-control" style="margin-top:2%;"></textarea>\n'+
        '    <small class="float-right">\n'+
        '       <span class="fa fa-time"></span> Aug 14, 2017 08:28\n'+
        '    </small>\n'+
        '    <button id="send-broad-cast-message" class="pull-left btn btn-primary form-control">Send Message</button>\n'+
        '  </div>\n'+
        '</div>');
       
       $('#messages').append(messageInput);

       $('#broad-cast-message').focus();

       $('#send-broad-cast-message').click(function(e){
          e.preventDefault();
          $('#send-broad-cast-message').prop('disabled', true);
          $("#send-broad-cast-message").html("Sending...");
        //create boardcast message
          $.ajax({
              url: "/broadcast_messages/",
              type: "POST",
              data: { 
                broadcast_message: {
                          chatroom_id: <%= @request.chatroom.id %>,
                          content: $('#broad-cast-message').val()
                          }
                  },
              success: function(messageObject){ 
                $('#broad-cast-message').val("");
                $('button').prop('disabled', false);
                $("#send-broad-cast-message").html("Send Message");
              },
              fail: function(response){
                alert("Failed to send message check you internet connection.");
                $('button').prop('disabled', false);
                $("#send-broad-cast-message").html("Send Message");
              }
          });
      });
   }else if($("#broad-cast-message").length == 1){ //if there is already a broadcastmessage textarea
        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        $('#broad-cast-message').focus();
   }

});




</script>