<div class="nested-fields list-group-item">
  <div class="form-row">
    <div class="col-sm-5">
      <%= f.text_field :email, id: :participant_email,
                          class: 'form-control form-control-sm mb-2', placeholder: 'email' %>
    </div>
    <div class="col-sm-4">
      <%= f.text_field :phone_number, id: :participant_phone_number,
                          class: 'form-control form-control-sm mb-2', placeholder: 'phone number' %>
    </div>
    <div class="col-sm-3">
      <%= link_to_remove_association f, class: 'btn btn-sm btn-light float-right' do %>
          Remove
      <% end %>
    </div>
  </div>
</div>