<div class="card-header">
  Tender Participants
</div>
<ul class="list-group list-group-flush nested-forms">
  <%= form.fields_for :participants do |participant| %>
      <%= render 'participant_fields', f: participant %>
  <% end %>
  <li class="list-group-item d-flex w-100 justify-content-between">
    <%= link_to_add_association 'Add participant', form, :participants, class: 'btn btn-sm btn-block btn-primary my-1' %>
  </li>
</ul>

