<div class="card mb-4">
  <div class="card-body">

    <div class="row">
      <div class="col-md-4 mb-2">
        <strong>Shortlisted</strong>
        <br>
        <span id="shortlisted-count">
          <%= request_for_tender.tenders
                                      .not_disqualified.count %>
        </span>
      </div>

      <div class="col-md-4 mb-2">
        <strong>Disqualified</strong>
        <br>
        <span id="disqualified-count">
          <%= request_for_tender.tenders.disqualified.count %>
        </span>
      </div>

      <div class="col-md-4 mb-2">
        <strong>Total submissions</strong>
        <br>
        <span id="total-submission-count">
          <%= request_for_tender.tenders.submitted.count %>
        </span>
      </div>
    </div>

  </div>
</div>