<li class="list-group-item flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Please choose publishing settings for the request<</h5>
    <small class="text-muted">Saved</small>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <label class="radio-inline">
        <input type="radio" name="publishing_setting" id="publishing_setting1" value="public"
               v-model="request.publishing_setting">
        Public request
      </label>
      <label class="radio-inline">
        <input type="radio" name="publishing_setting" id="publishing_setting2" value="restricted_public"
               v-model="request.publishing_setting">
        Restricted public request
      </label>
      <label class="radio-inline">
        <input type="radio" name="publishing_setting" id="publishing_setting3" value="private"
               v-model="request.publishing_setting">
        Private request
      </label>
    </div>
  </div>
</li>