<div class="card-header">
  Additional Requirements
</div>
<div class="card-body">
  <div class="row">
    <div class="col-sm-5 text-center">
      <button type="button" class="btn btn-sm btn-primary my-5" data-toggle="modal"
              data-target="#questionnaire">
        Add requirement
      </button>
    </div>
    <div class="col-sm-7">
      <p class="text-muted">
        Create a set of questions that all contractors are required to answer.
        Their answers will be automatically comparable.
      </p>
    </div>
  </div>
</div>