<div class="text-center">
  Requirements
</div>
<p class="text-muted text-center small">
  Using the form below, add the requirements you have for the contractors who are going to bid on this project.
  <br>
  Each requirement should be in the form of a question which the contractor is required to answer before they
  can submit their bid to you. You can indicate that the contractor should upload documents to support their
  answer.
</p>

<div class="nested-forms mb-5">
  <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
  <% end %>
  <li class="d-flex w-100 justify-content-center">
    <%= link_to_add_association 'Add question', form, :questions, class: 'btn btn btn-primary my-1' %>
  </li>
</div>
