<div class="text-center">
  <%= form.label :other_requirements %>
</div>
<p class="text-muted text-center small">
  Add the any additional requirements you have for the contractors who are going to bid on this project.
  <br>
  These requirements are in the form of questions they will have to answer.
  Their answers will be made automatically comparable by buildpals.
  The form below will help you create those questions.
</p>

<div class="nested-forms mb-5">
  <%= form.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
  <% end %>
  <li class="d-flex w-100 justify-content-between">
    <%= link_to_add_association 'Add more questions', form, :questions, class: 'btn btn-sm btn-primary my-1' %>
  </li>
</div>
