<dl class="row">

  <dt class="col-sm-3">Published</dt>
  <dd class="col-sm-9 mb-4">
    <%= @request.created_at.to_formatted_s(:long) %>
    <span class="text-muted ml-3">(UTC+00:00)</span>
  </dd>

  <dt class="col-sm-3">Due date</dt>
  <dd class="col-sm-9 mb-4">
    <%= @request.deadline.to_formatted_s(:long) %>
    <span class="text-muted ml-3">(UTC+00:00)</span>
  </dd>

  <dt class="col-sm-3 text-truncate">Description</dt>
  <dd class="col-sm-9 mb-4">
    <%= simple_format @request.description %>
  </dd>

</dl>