<div class="card mb-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#sales" class="nav-link active" aria-controls="saleoftenders" role="tab" data-toggle="tab">Sales</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#bids" class="nav-link" aria-controls="home" role="tab" data-toggle="tab">Bids</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="sales">
      <%= render 'sales_information' %>
      <div class="card-body pt-0 pb-2">
        <hr class="mt-0">
        <strong>Sales breakdown</strong>
      </div>
      <%= render 'contractors' %>
    </div>

    <div role="tabpanel" class="tab-pane" id="bids">
      <div class="card-body">
        <% if @request_for_tender.deadline_over? %>
            <%= render 'bids' %>
        <% else %>
            <p>
              In order to comply with the standards of tender fairness,
              bids will only be shown when the request deadline is reached.
            </p>

            <p class="text-center">
              <%= @request_for_tender.time_left %> left to request deadline.
            </p>
        <% end %>
      </div>
    </div>

  </div>
</div>