<div class="card mb-4">
  <div class="card-header">
    White County G4 Communication Tower
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <small class="text-muted">
        <strong>Public web address</strong>
        https://www.deltabid.com/db/tender/white-county-g4-communication-tower_t24204/en
      </small>
    </li>
    <li class="list-group-item bg-info">
      <div class="col-sm-12 request-controls" style="padding: 5px;">
        <button class="btn btn-sm btn-light" type="button">Edit request</button>
        <button class="btn btn-sm btn-light" type="button">Extend deadline</button>
        <button class="btn btn-sm btn-light" type="button">Invite more contractors</button>
        <div class="dropdown float-right">
          <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="request_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <ul class="dropdown-menu" aria-labelledby="request_actions">
            <button class="dropdown-item" type="button">Open report</button>
            <button class="dropdown-item" type="button">Copy</button>
            <button class="dropdown-item" type="button">Move to another folder</button>
            <button class="dropdown-item" type="button">Cancel request</button>
          </ul>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row" style="padding-top: 15px;">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-3"><strong class="text-muted">Bids</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Pending</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Read</strong></div>
            <div class="col-sm-3"><strong class="text-muted">Time left</strong></div>
            <div class="col-sm-3">3</div>
            <div class="col-sm-3">1/9</div>
            <div class="col-sm-3">8/9</div>
            <div class="col-sm-3">10d 8h 16m</div>
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <a href='/compare' class='btn btn-lg btn-success'>Compare bids</a>
        </div>
      </div>
    </li>
  </ul>
</div>