<div class="card mb-4">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#bids" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab">Bids</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#contractors" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab">Contractors</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#request_details" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab">Request
          Details</a>
      </li>
    </ul>
  </div>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="bids">

      <div class="card-body">
        <% if @request.deadline_over? %>

            <%= render 'bids' %>

        <% else %>

            <p>
              In order to comply with the standards of tender fairness,
              bids will only be shown when the request deadline is reached.
            </p>

            <p class="text-center">
              <%= @request.time_left %> left to request deadline.
            </p>

        <% end %>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="contractors">

      <%= render 'participating_contractors' %>

    </div>
    <div role="tabpanel" class="tab-pane" id="request_details">

      <div class="card-body">
        <%= render 'request_information' %>
      </div>

    </div>
  </div>
</div>