<div class="card-header text-warning" role="tab" id="headingWantToBid">
  <h5 class="mb-0">
    <a class="collapsed text-warning" data-toggle="collapse" href="#collapseWantToBid" aria-expanded="false" aria-controls="collapseWantToBid">
      Want to bid
      <small>
      <span class="badge badge-pill badge-warning">
        <%= @request.participants.participating_list.count %>
     </span>
      </small>
    </a>
  </h5>
</div>
<div id="collapseWantToBid" class="collapse" role="tabpanel" aria-labelledby="headingWantToBid" data-parent="#accordion">
  <div class="card-body">
    <ul class="list-group">
      <% @request.participants.participating_list.each do |participant| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-5">
                <%= participant.email %>
                <br>
                <small>
                  <span class="fa fa-user"></span>
                  <%= participant.phone_number %>
                </small>
              </div>
              <div class="col-md-4">
                <%= participant.interested_declaration_time.to_formatted_s(:long) %>
              </div>
              <div class="col-md-2">
                <div class="dropdown">
                  <button class="btn btn-sm btn-light dropdown-toggle" type="button" id="bid_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="bid_actions">
                    <button class="dropdown-item" type="button">Enter bid manually</button>
                    <button class="dropdown-item" type="button">Remove</button>
                  </div>
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn btn-sm btn-light">
                  <span class="fa fa-envelope"></span>
                </button>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
