<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="<%= request_for_tender_path(@request) %>">
      <%= @request.project_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Compare Bids
  </li>
<% end %>

<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
  <div class="row">
    <div class="col-md-12">
      <% if @request.bill_of_quantities.present? %>
        <%= content_tag :div,
                        id: 'bill_of_quantities',
                        class: 'mb-5',
                        data: {
                            participants: @participants.as_json(include: :rates),
                            boq: @request.bill_of_quantities,
                            qs_company_name: @request.project_owners_company_name,
                            currency: @request.currency_symbol,
                            boq_contract_sum: 10000
                        } do %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>