<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item">
    <a href="<%= root_path %>">
      Home
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <a href="<%= request_for_tender_path(@request) %>">
      <%= @request.project_name %>
    </a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    Compare Bids
  </li>
<% end %>

<div class="container-fluid" style="padding-left: 0px; padding-right: 15px;">
  <div class="row">
    <div class="col-md-12">
      <%= content_tag :div,
                      id: 'boq-excel',
                      data: {
                          participants: @participants.sort_by(&:total_bid).as_json(include: :rates),
                          boq: @boq.workbook_data,
                          contract_sum: @boq.contract_sum,
                          qs_company_name: @boq.request_for_tender.quantity_surveyor.company_name,
                          currency: @request.budget_currency_symbol,
                          boq_contract_sum: @boq.contract_sum
                      } do %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="buttons" id="boq-buttons">
        </div>
      </div>
    </div>
  </div>
</div>