<div class="container" id="app">

  <div class="row">

    <div class="col-lg-11 mx-auto pt-4" id="notice-area">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-12 ml-auto mb-4">
      <%= render 'form', request: @request, title: 'Editing Request' %>
    </div>

  </div>

</div>