<div class="container" id="app">

  <app>
    <div class="row">
      <div class="col-md">
        <nav class="nav">
          <%= link_to 'Back', request_for_tenders_path, class:'nav-link' %>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 ml-md-auto mr-md-auto">

        <p id="notice"><%= notice %></p>

        <%= render 'form', request: @request, title: 'New Request' %>

      </div>
    </div>
  </app>

</div>