<div class="container" id="app">
  <div class="row">
    <div class="col-lg-9 mx-auto pt-5">
      <% render 'layouts/notice' %>
    </div>

    <div class="col-lg-9 mx-auto">

      <%= render 'participants/project_summary', project: @request %>

      <%= render 'participants/project_details', project: @request %>

    </div>
    <div class="col-lg-9 mx-auto">
      <%= render 'participants/requirements_form', project: @request %>
    </div>

    <div class="col-lg-9 mx-auto">
      <%= render 'participants/bill_of_quantities', project: @request%>
    </div>

  </div>
</div>

