<% content_for :breadcrumbs do %>
    <li class="breadcrumb-item">
      <a href="<%= root_path %>">
        Home
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @request_for_tender.project_name %>
    </li>
<% end %>

<div class="hello">
  <%= render 'request_status_summary' %>

  <%= render 'request_status_detail' %>
</div>
