<div class="container" id="app">
  <div class="row">

    <div class="col-lg-9 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-9 mx-auto">

      <%= render 'participant_summary' %>

      <%= render 'participant_details' %>

      <%= render 'message_board', request: @participant.request_for_tender %>

    </div>

  </div>

</div>