<div class="container" id="app">
  <div class="row">

    <div class="col-lg-12 mx-auto pt-4">
      <%= render 'layouts/notice' %>
    </div>

    <div class="col-lg-12 ml-auto">
      <%= render 'request_status_summary' %>

      <%= render 'request_status_detail' %>

      <%= render 'message_board', request: @request %>

    </div>

  </div>

</div>