@import "custom";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "font-awesome";
@import "footer";
@import "handsontable.full";
@import "handsontable.formula";
@import "request_for_tenders";
@import "create_tender";


// Managing Accounts

.fix-screen{
  margin-left: -30%;
}


// Parsley validation styles

.parsley-errors-list{
  list-style: none;
  color: red;
  font-size: 11px;
  padding-left: 0;
}

.parsley-error {
  border: 1px solid red;
}

#error_explanation h2{
  font-size: 15px;
}

#error_explanation ul{
  font-size: 12px;
}

#error_explanation li{
  color: red;
}

/***************************************
Card Shadows
***************************************/
.card, .btn-raised, .shadow {
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.1);
  //box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-6 {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-7 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}




.flash {
  position: fixed;
  right: 20px;
  z-index: 1000;
}


/***************************************
Messaging Cards
***************************************/

.push-down{
  margin-top: 5%;
}

.hidden-request-id{
  display: none;
}

.message-thread h5{
  color: #17a2b8 !important;
}

.hide_link{
  display: none;
}

.reply-message{ 
  height: 100%;
  cursor: pointer;
}

.bolden{
  font-size: 70%;
  font-weight: bolder;
  color: rebeccapurple;
}

/******************************************
AUTHENTICATION
*******************************************/

.shared-links{
  font-size: 11px;
}

/***************************************
Final Email to Shortlisted Participants
***************************************/
.btn-award-contract{
  width: 100%;
}

.header-warning{
  background-color: #dc3545;
  color: white;
}

.email-body{
  padding: 1%;
  color: #000;
}

.winner-name{
  font-weight: bolder;
}

.replace{
  background-color: yellow;
}

.final-message{
  padding: 1%;
}

#final-email-message{
  display: none;
}

#notify-disqualified-contractors-message{
  display: none;
}



// Top Nav

.top-nav-breadcrumb {
  padding-left: 0;
  background-color: initial;
}

/***************************************
Sheet Navigation for Excels
***************************************/
.excel-nav {
    margin-top: 2%;
    margin-right: 1%;
}

.content-boq, .rate_column, .quantity_column, .boq_id, .participant_id, .sheet-name, .amount_column, .quantity_surveyor_id, .unit_column, .request_for_tender_participants, .item_column, .total-bid, .boq-contract-sum, .qs-company-name {
    display: none;
}

.make-me-red {
    color: #f00;
}

.make-me-green {
    color: #42f47a;
}
.make-me-orange {
    color: #f48c42;
}

#container.handsontable table{
    width:100%;
}