$blue: #007bff;
$midnight-blue: #2b3f57;
$midnight-blue: #2a3e55;
$yellow-orange: #f9b13c;
$orange-yellow: #ffce12;

$theme-colors: (
  primary: $midnight-blue,
  accent: $yellow-orange
);

$link-color: $blue;

@import "bootstrap";
