<div class="nested-fields">
  <div class="form-row">
    <div class="col-sm-5">
      <%= f.text_field :company_name, id: :participant_company_name,
                       class: 'form-control form-control-sm mb-2', placeholder: 'Company Name',
                       data: { 'save-on-change': true } %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :email, id: :participant_email,
                          class: 'form-control form-control-sm mb-2', placeholder: 'E-mail',
                       data: { 'save-on-change': true } %>
    </div>
    <div class="col-sm-2">
      <%= f.text_field :phone_number, id: :participant_phone_number,
                          class: 'form-control form-control-sm mb-2', placeholder: 'Phone Number',
                       data: { 'save-on-change': true } %>
    </div>
    <div class="col-sm-2">
      <%= link_to_remove_association f, class: 'btn btn-sm btn-block btn-light float-right', data: { 'save-on-click': true } do %>
          REMOVE
      <% end %>
    </div>
  </div>
</div>