<%= form_with model: @request,
              scope: :request_for_tender,
              url: update_request_for_tenders_documents_path(@request),
              method: :patch,
              id: 'request-form' do |form| %>

    <p class="text-muted small">
      Upload any documents that you want the contractor to use in deciding his bid here.
      <br>
      <strong>
        NB. Do not upload the bill of quantities here.
        You would be required to upload it in the next step (i.e. Step 2) of this process instead.
      </strong>
    </p>

    <div class="form-group mt-3">
      <ul class="list-group list-group-flush nested-forms">
        <%= form.fields_for :project_documents do |project_document| %>
            <%= render 'project_document_fields', f: project_document %>
        <% end %>
        <li class="d-flex w-100 justify-content-between">
          <%= link_to_add_association 'Add new document', form, :project_documents, class: 'btn btn-sm btn-block btn-primary my-1' %>
        </li>
      </ul>
    </div>

<% end %>