<footer id="footer" class="footer">
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          Copyright &copy; 2017 <a href="www.buildpals.com">Buildpals</a> &middot;  All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>