<footer id="footer" class="footer bg-primary">
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="www.tenderswift.com">
            &copy; 2017 TenderSwift &middot;  All Rights Reserved
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>