<footer id="footer" class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fa fa-map-marker fa-fw fa-2x"></i><span>No. 32, Aluguntugui Street East Legon, Accra</span>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o fa-fw fa-2x"></i><span>info@buildpals.com/support@buildpals.com</span>
        </div>
        <div class="col-md-4">
          <i class="fa fa-phone fa-fw fa-2x"></i><span>+233 50 136 9031</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2017 Buildpals &middot;  All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>