<footer id="footer" class="footer bg-primary">
  <div class="top-footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fa fa-map-marker fa-fw fa-2x"></i>
          <p>No. 32 Aluguntugui Street East Legon, Accra-Ghana</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o fa-fw fa-2x"></i><p>info@tenderswift.com</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-phone fa-fw fa-2x"></i><p>+233 50 136 9031</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="www.tenderswift.com">
            &copy; 2017 TenderSwift &middot;  All Rights Reserved
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>