<footer id="footer" class="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fa fa-map-marker fa-fw fa-2x"></i>
          <p>No. 32 Aluguntugui Street East Legon, Accra-Ghana</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope-o fa-fw fa-2x"></i><p>info@buildpals.com</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-phone fa-fw fa-2x"></i><p>+233 50 136 9031</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2017 Buildpals &middot;  All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>