<nav class="navbar navbar-expand-lg navbar-dark bg-primary
            d-block d-sm-block d-md-block d-lg-none d-xl-none">

  <div class="d-flex align-items-center">
    <div class="navbar-text text-truncate">
      <%= link_to 'https://www.tenderswift.com' do %>
        <%= cl_image_tag 'tenderswift-logo-inverse.png',
                         height: 16,
                         crop: 'scale',
                         class: 'd-inline-block align-middle',
                         alt: 'TS' %>
      <% end %>
    </div>

  </div>

</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary
            d-none d-sm-none d-md-none d-lg-block d-xl-block">
  <div class="container">

    <a class="navbar-brand" href="https://www.tenderswift.com">
      <%= cl_image_tag 'tenderswift-logo-inverse.png',
                       height: 16,
                       crop: 'scale',
                       class: 'd-inline-block align-middle',
                       alt: 'TenderSwift',
                       title: 'TenderSwift Logo' %>
    </a>
  </div>
</nav>