<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <img src="https://res.cloudinary.com/tenderswift/image/upload/c_scale,h_24/v1520926501/tenderswift-logo-inverse.png"
         alt="TenderSwift"
         class="d-inline-block align-top">
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>