<div class="w-100 bg-light text-dark nav-tabs" >
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <%= render 'layouts/notice' %>
      </div>
      <div class="col-lg-12 mx-auto">
        <%= yield :nav_tabs %>
      </div>
    </div>
  </div>
</div>