<footer id="footer" class="footer navbar-light bg-light">
  <div class="footer-line">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="<%= root_path %>">
            Powered by TenderSwift &copy; 2017 &middot; All Rights Reserved &middot;
          </a>
          <a href="<%= root_path %>">
            <%= image_tag 'tenderswift-logo-small.png', style: 'height: 16px; margin-top: 5px margin-bottom: 5px',
                          alt: 'TenderSwift - connecting contractors to project leads' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>